#!/bin/bash
set -e -E -u -C -o pipefail

exec 1> >(logger --tag $(basename $0)) 2>&1

echo "Start Grafana backup"

BACKUP_DIR="{{ grafana_backup_path }}"
BACKUP_FILE="{{ grafana_backup_path }}/grafana-$(date +%Y-%m-%d-%H-%M).db"

echo "Stop Grafana service"
systemctl stop grafana

while [ "$(docker ps --all --quiet --filter status=running --filter name=grafana)" ]; do
    echo "Grafana service is still running - wait 5 secs"
    sleep 5
done

echo "Create backup of Grafana database"
cp "{{ grafana_data_path }}/grafana.db" "${BACKUP_FILE}"

echo "Start Grafana service"
systemctl start grafana

echo "Compress backup of Grafana database"
bzip2 "${BACKUP_FILE}"

echo "Delete Grafana backup archives older than 7 days"
find "${BACKUP_DIR}" -name "*.bz2" -type f -mtime +7 -delete

echo "Finish Grafana backup"
