[Unit]
Description=Docker Grafana Container
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull {{grafana_docker_image_name}}:{{grafana_docker_image_version}}
ExecStart=/usr/bin/docker run --init --name %n --env-file={{grafana_etc_path}}/grafana.env{% if grafana_docker_publish_http_port %} --publish={{grafana_docker_http_port}}:3000{% endif %} {{grafana_docker_run_options}} {{grafana_docker_image_name}}:{{grafana_docker_image_version}}
ExecStop=/usr/bin/docker stop %n
TimeoutStartSec=0
Restart={{grafana_docker_restart_container}}

[Install]
WantedBy=multi-user.target
