[Unit]
Description=Grafana
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull grafana/grafana:{{ grafana_docker_image_version }}
ExecStart=/usr/bin/docker run \
--name %n \
--init \
--memory={{ grafana_docker_memory }} \
{% if grafana_env_vars | dict2items | length > 0 %}
--env-file=/etc/grafana.env \
{% endif %}
{% if grafana_docker_labels | dict2items | length > 0 %}
--label-file=/etc/grafana.label \
{% endif %}
--mount=type=bind,source={{ grafana_backup_path }},destination=/var/backups/grafana \
--mount=type=bind,source={{ grafana_data_path }},destination=/var/lib/grafana \
--mount=type=bind,source={{ grafana_etc_path }},destination=/etc/grafana \
--network={{ grafana_docker_network }} \
--network-alias=grafana \
--publish=127.0.0.1:3000:3000 \
--user=10100:0 \
grafana/grafana:{{ grafana_docker_image_version }}
ExecStop=/usr/bin/docker stop %n
SyslogIdentifier=%n
TimeoutStartSec=infinity
StartLimitInterval=30
StartLimitBurst=5
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
