[Unit]
Description=Grafana
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker stop %N
ExecStartPre=-/usr/bin/docker rm %N
ExecStartPre=/usr/bin/docker pull grafana/grafana:{{ grafana_docker_image_version }}
ExecStart=/usr/bin/docker run \
--name %N \
--init \
--memory={{ grafana_docker_memory }} \
{% if grafana_env_vars | dict2items | length > 0 %}
--env-file=/etc/grafana.env \
{% endif %}
{% if grafana_docker_labels | dict2items | length > 0 %}
--label-file=/etc/grafana.label \
{% endif %}
--mount=type=bind,source={{ grafana_backup_path }},destination=/var/backups/grafana \
--mount=type=bind,source={{ grafana_data_path }},destination=/var/lib/grafana \
--mount=type=bind,source={{ grafana_etc_path }},destination=/etc/grafana \
--network={{ grafana_docker_network }} \
{% if grafana_docker_network not in ['bridge', 'host', 'none'] %}
--network-alias=grafana \
{% endif %}
{% if grafana_docker_publish_ports | length > 0 %}
{% for port in grafana_docker_publish_ports %}
--publish={{ port }} \
{% endfor %}
{% endif %}
--user=10100:0 \
grafana/grafana:{{ grafana_docker_image_version }}
ExecStop=/usr/bin/docker stop %N
SyslogIdentifier=%N
TimeoutStartSec=infinity
StartLimitInterval=30
StartLimitBurst=5
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
